// Basic Buttons
.btn {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.btn-primary, .btn-info, .btn-success, .btn-warning, .btn-danger {
  border: 0;
  font-family: $font-family-semibold;
}

.btn-default:hover {
  background-color: white;
}


// File Upload Button
.btn-upload {
  overflow: hidden;
  position: relative;

  input[type="file"] {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}



	.btn {
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		transition: background-color 0.2s ease;
	}

	.btn-link {
		font-weight: 300;
	}
	.btn-primary, .btn-secondary {
	    color: #fff;
	    background-color: $brand-secondary;
	    border: none;
	    border-radius: 0;
	    font-size: 18px;
		padding: 10px 20px;
	    text-transform: uppercase;
	    font-weight: 500;
	    
	    &.small {
	    	font-size: 14px;
	    	padding: 3px 10px;
	    	text-transform: none;
	    }
	    
	    @media only screen and (min-width: 768px) and (max-width: 991px) {
			font-size: 15px;
			padding: 5px 10px 2px 10px;
	    }
	}
	.btn-primary {
		@media only screen and (max-width: 767px) {
	    	width: 90%;
	    }
	}
	.btn-outline {
		border: $brand-secondary 2px solid;
	    background: #fff;
	    color: $brand-secondary;
	    border-radius: 0;
	    font-size: 14px;
	    padding: 6px 20px 4px 20px;
	    outline: 0;
	    display: inline-block;
	    cursor: pointer;
	    -webkit-box-shadow: none;
  		-moz-box-shadow:    none;
  		box-shadow:         none;
	    
	    &.active, &:hover {
	    	color: #fff;
	    	background: $brand-secondary;
	    	-webkit-box-shadow: none;
	  		-moz-box-shadow:    none;
	  		box-shadow:         none;
	    }
	}
	.btn-secondary {
		background-color: $brand-primary;
	}
	.col-md-2 .btn {
		width: 100%;
	}

.btn:focus {outline:0;}

.fb_iframe_widget, #twitter-widget-0 {
	vertical-align: middle;
}