// .spark-screen {
	.radio, .checkbox {
		display: inline-block;
		padding-right: 0;
		
		&.nomargin {
			margin: 0;
		}
		label {
		    display: block;
		    cursor: pointer;
		    position: relative;
		    padding: 10px 0 10px 35px;
		    font-size: 13px;
		}
	}
	.radio:first-child label {
		margin-right: 15px;
	}
	.radio label {
		border: 1px solid #D7D7D7;
	}
	.radio label:before, .checkbox label:before {
	    content: "";
	    display: inline-block;
	 
	    width: 16px;
	    height: 16px;
	 
	    margin-right: 10px;
	    position: absolute;
	    left: 12px;
	    bottom: 12px;
		border: 1px solid #ccc;
	}
	.radio label:before {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
	input[type=radio], input[type=checkbox] {
	    display: none;
	}
	input[type=radio]:checked + label:before {
	    content: "\2022";
	    color: #f3f3f3;
	    font-size: 30px;
	    text-align: center;
	    line-height: 11px;
	    background-color: $brand-primary;
	    border-color: $brand-primary;
	}
	input[type=radio]:checked + label {
		border: 1px solid $brand-primary;
	}
	input[type=checkbox]:checked + label:before {
		font-family: 'FontAwesome';
	    content: '\f00c'; /* "\2713"; */
	    font-size: 13px;
	    color: #f3f3f3;
	    text-align: center;
	    line-height: 14px;
	    background-color: $brand-primary;
	    border-color: $brand-primary;
	}

	.has-error {
	  @include form-control-validation($state-danger-bg, $state-danger-bg, $state-danger-bg);

	  .control-label {
	  	color: $text-color;
	  }
	}
	.form-horizontal .control-label, .control-label {
		font-size: 16px;
	  	padding-top: 13px;
	  	text-align: left;
	}

	.form-control {
		box-shadow: none;
		border-radius: 0;
		color: $text-color;
		font-size: 16px;
		height: auto;
		padding: 12px 10px;
		line-height: 1em;
		
		&.inline {
			display: inline-block;
			width: auto;
		}
	}
	select.form-control {
		padding: 5px 10px;
		height: 45px;
		-webkit-appearance: none;
		border: 1px solid #ccc;
		color: #999;
		font-weight: 300;
		width: 100%;
		
		&[name=children] {
			color: $brand-primary;
		}
	}
	label.select {
		display: block;
		position: relative;
		
		&.inline {
			display: inline-block;
			border: 1px solid #ccc;
			
			select.form-control {
				border: none;
				padding-right: 25px;
			}
		}
	}
	label.select:after {
	    content:"\f0d7";
	    font-family: 'FontAwesome';
	    color: #999;
	    padding: 11px 8px;
	    position: absolute; right: 0; top: 0;
	    z-index: 1;
	    text-align: center;
	    height: 100%;      
	    pointer-events: none;
	    box-sizing: border-box;   
	}
	.field-label {
		line-height: 45px;
	}
	.form-row {
		margin-bottom: 10px;
		
		&.padding {
			padding: 0;
			margin-bottom: 20px;
		}
	}
	.field {
		margin-bottom: 5px;
	}
	.disclaimer {
		font-size: 10px;
		color: $text-color-light;
		margin: 5px 0;
		text-align: center;
		
		&.text-right {
			text-align: right;
		}
		&.text-left {
			text-align: left;
		}
	}
	.reg-field {
		float: left;
	   	padding: 0 2px;
	   	width: 35%;
	}
	.reg-button {
		float: left;
	   	padding: 0 2px;
	   	width: 30%;
	   	
	   	.btn {
	   		width: 100%;
	   	}
	}
	@media only screen and (max-width: 549px) {
		.reg-field, .reg-button {
			width: 100%;
			float: none;
		}
	}
// }
