.navbar {
	background: #fff;
	color: $brand-primary;
	font-size: 14px;
	letter-spacing: 0.05em;
	font-weight: 300;
	margin-bottom: 20px;
	border-color: $border-color;
	text-transform: uppercase;

	.navbar-brand {
		font-size: 28px;
		
		img {
			height: 40px;
			
			@media (min-width: 992px) {
				height: 48px;
			}
		}
		i {
			color: $brand-primary;
		}
	}
	
	.navbar-nav {
		padding-top: 0px;
		margin: 0;
		
		li {
			font-size: 18px;
			
			@media (min-width: 992px) {
				font-size: 14px;
			}
		}
		&.navbar-left li {
			
			position: relative;
			line-height: 2em;
			
			span {
				padding: 0 0 9px 0;
				display: inline-block;
				text-align: center;
				transition: border 1s ease;
				
				@media (min-width: 768px) {
					// position: absolute;
					// bottom: 0;
					// left: 50%;
					// -webkit-transform: translateX(-50%);
					// transform: translateX(-50%);
					border-bottom: 4px solid #fff;
				}
			}
			
		}
		
		&.navbar-left .icon {
			display: inline-block;
		    font-size: 40px;
		    width: 80px;
		 	vertical-align: middle;
		    text-align: center;
		    
		    @media (min-width: 768px) {
		    	font-size: 20px;
		    	width: 50px;
		    }
		}
		&.navbar-right {

			text-transform: none;
			
			@media (min-width: 992px) {
				float: right;
			}
			> li {
				@media (min-width: 992px) {
					float: left;
				}
			}
			.icon {
				font-size: 21px;
			}
		}
		@media (min-width: 768px) {

			li.active span {
				border-bottom: 4px solid $brand-primary;
			}
			&.navbar-left .icon {
				display: block;
				width: auto;
				font-size: 30px;
				line-height: 42px;
				margin-bottom: 5px;
			}
		}
		.caret {
    		color: $brand-primary;
    	}
		> li > a {
			color: $brand-primary; /* #9d9d9d */
			cursor: pointer;
    		font-weight: 400;
    	}
    	> li > a.has-activity-indicator {
    		color: $brand-primary;
    	}
    	> li > a:hover {
    		color: $brand-secondary;
    		
    		.caret {
	    		color: $brand-secondary;
	    	}
    	}
    	> li > a.has-activity-indicator:hover {
    		color: $brand-secondary;
    	}
	}

	.dropdown-menu {
		border-color: $border-color;
		border-radius: 0;
		padding: 0;
		
		li {
			font-size: 18px;
			text-align: center;
			
			@media (min-width: 992px) {
				font-size: 14px;
				text-align: left;
			}

			a {
				font-weight: 300;
				vertical-align: middle;
				text-transform: uppercase;
				color: $brand-primary;
				padding: 10px 15px;
			    line-height: 20px;
				
				@media (min-width: 992px) {
					line-height: 25px;
					padding: 4px 10px;
					background: $bg-color-highlight;
					text-transform: none;
				}
				&:hover {
					background: #fff;
				}
			}

			&.divider {
				margin: 0;
				background: $border-color;
				display: none;
				height: 1px;
				
				@media (min-width: 992px) {
					display: block;
				}
			}
		}
	}
}


.navbar-inverse .navbar-nav {

    > .active > a, > .active > a:hover, > .active > a:focus,
    > .open > a, > .open > a:hover, > .open > a:focus {
    	color: $brand-secondary;
    	background: none;
    	font-family: $font-family-semibold;
    }
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: $border-color;
}
.navbar-inverse .navbar-toggle {
	border-color: #fff; 
	margin-right: 0;
	
	.icon-bar {
		background-color: $brand-primary;
	}
	
	&:hover, &:focus {
		background-color: transparent;
		
		.icon-bar {
			background-color: $brand-secondary;
		}
	}

	@media (max-width: 991px) {
		
		display: block;
		
	}
}

#register-navbar {

	.navbar-left {
		float: none;
		white-space: nowrap;
		width: 100%;
		padding-top: 11px;
		
		li {
			
			@media (min-width: 768px) {
				width: 20%;
			}
		}
	}
	.navbar-right {
		display: none;
	}
}
.navbar-nav > li > a.dropdown-toggle {
	display: none;
}

.navbar-nav > li > a,
.navbar-brand,
.hamburger,
.navbar-nav > li > a.dropdown-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px) {
	.dropdown-menu {
		position: relative;
	    display: block;
	    float: none;
	    background: none;
	    border: none;
	    box-shadow: none;
	}
	.navbar-nav > li > a.dropdown-toggle {
		display: none;
	}
}

	


.navbar-icon {
    padding-top: 3px;
    position: relative;

    .activity-indicator {
        width: 13px;
        height: 13px;
        border-radius: 10px;
        background: $brand-danger;
        border: 2px solid #fff;
        border-radius: 10px;
        position: absolute;
        right: -1px;
        transition: all .15s;
        transform: scale(.85);
    }

    .icon { font-size: 21px; }
}

.has-activity-indicator:hover .activity-indicator {
    transform: scale(1.1);
}

.navbar .dropdown-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.navbar .dropdown-menu > li > a {
    font-weight: 300;

    i {
        color: lighten($text-color, 25%);
    }

    i.text-success {
        color: $brand-success;
    }
}

.hamburger { float: right; }

.nav-sidebar {

	.icon {
		margin-right: 5px;
		width: 1.2em;
	}

	> li {
		
		text-transform: uppercase;
		font-family: $font-family-semibold;
		color: $text-color2;
		font-size: 14px;
		
		&.active {
			background: $bg-color-highlight;
			border: $border-color 1px solid;
			
			a:hover {
				color: $brand-primary;
    		}
			@media (min-width: 768px) {
				border-right: 0;
			}
		}
		> a {
			color: #585858;
		}
		> a:focus, > a:hover {
			background: none;
		}
	}
}


.navbar-fixed-top .container {
	
	.navbar-brand,
	.hamburger {
	    height: $navbar-height;
	}

	.navbar-header {
		margin: 0;
	}
	@media (min-width: 992px) {
		.navbar-nav > li > a,
		.navbar-brand,
		.hamburger {
		    height: $navbar-desktop-height;
		    
		    &.dropdown-toggle {
		    	height: $navbar-height;
		    	margin-top: 20px;
		    	line-height: 1.2em;
		    	
		    	img {
		    		float: left;
		    		margin-right: 10px;
		    	}
		    	.username, .text {
    				display: none;
		    	}
		    }
		}
		.navbar-collapse {
			margin-left: 30%;
			width: 70%;
		}
	}
	@media (min-width: 1150px) {
		.navbar-nav > li > a.dropdown-toggle .username {
			display: block;
		}
		.navbar-nav > li > a.dropdown-toggle .text {
			display: inline;
		}
	}
	@media (max-width: 1199px) {
		width: auto;
	}
	@media (min-width: 1200px) {

	}
}

