.navbar {
	background: #fff;
	color: $brand-primary;
	font-size: 14px;
	letter-spacing: 0.05em;
	font-weight: 300;
	margin-bottom: 20px;
	border-color: $border-color;
	text-transform: uppercase;

	.navbar-brand {
		font-size: 28px;
		
		img {
			height: 40px;
			
			@media (min-width: 768px) {
				height: auto;
			}
			@media (min-width: 992px) {
				height: 48px;
			}
		}
		i {
			color: $brand-primary;
		}
	}
	
	.navbar-nav {
		padding-top: 0px;
		
		&.navbar-left li {
			font-size: 18px;
			position: relative;
			line-height: 2em;
			
			span {
				padding: 0 0 9px 0;
				display: inline-block;
				text-align: center;
				transition: border 1s ease;
				
				@media (min-width: 768px) {
					position: absolute;
					bottom: 0;
					left: 50%;
					-webkit-transform: translateX(-50%);
					transform: translateX(-50%);
					border-bottom: 4px solid #fff;
				}
			}
			@media (min-width: 768px) {
				font-size: 11px;
				line-height: 1.5em;
				height: $navbar-desktop-height;
			}
			@media (min-width: 992px) {
				font-size: 14px;
			}
		}
		
		&.navbar-left .icon {
			display: inline-block;
		    font-size: 40px;
		    width: 80px;
		 	vertical-align: middle;
		    text-align: center;
		    
		    @media (min-width: 768px) {
		    	font-size: 20px;
		    	width: 50px;
		    }
		}
		&.navbar-right .icon {
			font-size: 21px;
		}
		&.navbar-left .icon-truck, &.navbar-left .icon-creditcard {
			font-size: 27px;
			
			@media (min-width: 768px) {
		    	font-size: 14px;
		    }
		}
		@media (min-width: 768px) {

			li.active span {
				border-bottom: 4px solid $brand-primary;
			}
			&.navbar-left .icon {
				display: block;
				width: auto;
				font-size: 30px;
				line-height: 42px;
				margin-bottom: 5px;
			}
			&.navbar-left .icon-truck, &.navbar-left .icon-creditcard {
				font-size: 24px;
			}
		}
		.caret {
    		color: $brand-primary;
    	}
		> li > a {
			color: $text-color; /* #9d9d9d */
			cursor: pointer;
    		font-weight: 400;
    	}
    	> li > a.has-activity-indicator {
    		color: $brand-primary;
    	}
    	> li > a:hover {
    		color: $brand-primary;
    		
    		.caret {
	    		color: $brand-secondary;
	    	}
    	}
    	> li > a.has-activity-indicator:hover {
    		color: $brand-secondary;
    	}
	}

	.dropdown-menu {
		li {
			font-size: 14px;

			a {
				font-weight: 300;
				line-height: 25px;
				vertical-align: middle;
			}
		}
	}
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #969ea2;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: $border-color;
}
.navbar-inverse .navbar-toggle {
	border-color: #fff; 
	
	.icon-bar {
		background-color: $brand-primary;
	}
	
	&:hover, &:focus {
		background-color: transparent;
		
		.icon-bar {
			background-color: $brand-secondary;
		}
	}

}
.with-navbar {
    padding-top: 60px;
    
    @media (min-width: 768px) {
    	padding-top: 100px;
    }
    &.register-preferences, &.register-delivery {
    	padding-top: 100px;
    	
    	@media (min-width: 768px) {
    		padding-top: 130px;
    	}
    }
}
body.register {

	.navbar-left {
		float: none;
		white-space: nowrap;
		width: 100%;
		
		li {
			
			@media (min-width: 768px) {
				width: 20%;
			}
		}
	}
	.navbar-right {
		display: none;
	}
}

.navbar-nav > li > a,
.navbar-brand,
.hamburger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-icon {
    padding-top: 3px;
    position: relative;

    .activity-indicator {
        width: 13px;
        height: 13px;
        border-radius: 10px;
        background: $brand-danger;
        border: 2px solid #fff;
        border-radius: 10px;
        position: absolute;
        right: -1px;
        transition: all .15s;
        transform: scale(.85);
    }

    .icon { font-size: 21px; }
}

.has-activity-indicator:hover .activity-indicator {
    transform: scale(1.1);
}

.navbar .dropdown-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.navbar .dropdown-menu > li > a {
    font-weight: 300;

    i {
        color: lighten($text-color, 25%);
    }

    i.text-success {
        color: $brand-success;
    }
}

.hamburger { float: right; }

.nav > li > a:focus, .nav > li > a:hover {
	background: none;
}

.container {
	
	.navbar-nav > li > a,
	.navbar-brand,
	.hamburger {
	    height: $navbar-height;
	}

	@media (min-width: 768px) {
		.navbar-nav > li > a,
		.navbar-brand,
		.hamburger {
		    height: $navbar-desktop-height;
		}
		.navbar-header {
			width: 30%;
		}
		.navbar-collapse {
			margin-left: 30%;
			width: 70%;
		}
	}
	@media (min-width: 992px) {
	    .navbar-header {
			width: 30%;
		}
		.navbar-collapse {
			margin-left: 30%;
			width: 70%;
		}
	}
	@media (min-width: 1200px) {
		.navbar-header {
			width: 30%;
		}
		.navbar-collapse {
			margin-left: 30%;
			width: 70%;
		}
	}
}