.spark-screen {
	.table {
		> thead,
		> tbody,
		> tfoot {
		    > tr {
		    	> th,
		      	> td {
			        border-top: 1px solid $border-color;
			   	}
		    }
	    }
	}
	td.spark-table-pad {
		padding-top: 14px;
	}
}

table.month {
	width: 100%;
	border: 1px solid $brand-primary;
	font-family: $font-family-semibold;
	margin: 21px 0 32px 0;
	
	.month_name {
		background: $brand-primary;
		color: #fff;
		font-size: 16px;
		text-align: center;
    	padding: 10px;
	}
	.day, .day_name {
		font-size: 12px;
		text-align: center;
		padding: 5px;
		height: 45px;
	}
	.day {
		min-height: 50px;
		vertical-align: top;
		height: 45px;
		
		&.active {
			font-family: $font-family-bold;
		}
		.fa {
			display: block;
			font-size: 18px;
		}
	}
	.day_name {
		color: $brand-primary;
	}
	tr:last-child td {
		padding-bottom: 15px; 
	}
}