.spark-screen {
	.spark-settings-tabs-stacked {
		border-radius: $border-radius-base;

		a {
			border-bottom: 1px solid rgba(0,0,0,.1);
			border-left: 3px solid transparent;
			color: #555;

			i {
				color: #aaa;
				position: relative;
			}
		}

		li:last-child a {
			border-bottom: 0;
		}

		li.active a {
			border-left: 3px solid $brand-primary;
		}

		li a:active, li a:hover, li a:link, li a:visited {
			background-color: white;
		}
	}

	.spark-plan-change-selector-heading {
		font-size: $font-size-base;
		margin-bottom: 15px;
	}
}
.fs {
    height: 100vh;
}
.nowrap {
	white-space: nowrap;
}
.link {
	cursor: pointer;
	&:hover {
		color: $brand-primary;
	}
}
.row.image {
	padding-bottom: 1em;
}
.row.action {
	padding: 1em 0 0.5em 0;
}
.nosidepadding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.thinpadding {
	
	padding-right: 5px;
	padding-left: 5px;

	&.first {
		padding-left: 0;
	}
	&.last {
		padding-right: 0;
	}

}
@media only screen and (max-width: 767px) {
	// .col-sm-6.thinpadding, .col-sm-4.thinpadding, .col-sm-2.thinpadding {
	// 	padding-left: 0;
	// 	padding-right: 0;
	// }
}
.padding {
	padding-top: 1em;
	padding-bottom: 1em;
}
.padtop {
	padding-top: 1em;
}
.padbottom {
	padding-bottom: 1em;
}
.extrapadding {
	padding-left: 15px;
	padding-right: 15px;
	
	@media only screen and (min-width: 768px) {
		padding-left: 30px;
		padding-right: 30px;
	}
}
.bottom {
	vertical-align: bottom;
}
.full-height {
    min-height: 100%;
}
.flex-column {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
    flex-direction: column;
}
.flex-column {
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
    flex-direction: row;
}
.flex-fill {
    -webkit-box-flex: 1;
  	-moz-box-flex: 1;
  	-webkit-flex: 1;
  	-ms-flex: 1;
  	flex: 1;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
// .middle {
// 	position: relative;
//   	top: 50%;
//   	transform: translateY(-50%);
// }
.hide {
	display: none;
}

.overflow {
	height:auto;
    min-height:100%;
}
.highlight {
	color: $brand-secondary;
}
.main {
	border-top: 1px solid $border-color;
}
@media (min-width: 768px) {
	.col-sm-4.sidebar {
		padding-right: 0;
	}
	.container {
		width: auto;
	}
	.main {
		border-left: 1px solid $border-color;
	}
}
@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	}
}
.modal-content {
	border-radius: 0;
}
@media (min-width: 900px) {
	.modal-header {
		padding: 25px 25px 0 25px;
	}
	.modal-body {
	    padding: 25px;
	}
	.modal-dialog {
	    width: 700px;
	}
}
.modal-footer {
	text-align: center;
}
.modal-header .close {
	color: $text-color2;
	font-size: 52px;
	font-weight: 100;
	opacity: 1;
	margin-top: -10px;
	// content: '\e807';
	
	&:hover {
		color: $brand-secondary;
	}
}



:focus{
    outline:none;
}
div.clear{
    clear:both;
}