/**
 * Elements
 */

@import "elements/alerts";
@import "elements/buttons";
@import "elements/forms";
@import "elements/images";
@import "elements/modals";
@import "elements/nav";
@import "elements/panels";
@import "elements/tables";
@import "elements/tooltips";

/**
 * Components
 */

@import "components/splash";
@import "components/subscription";
@import "components/settings";
@import "components/terms";

/*
 * Misc. test
 */
body, html {
    height: 100%;
}
body {
	background: $bg-color;
	font-weight: $btn-font-weight;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	color: $text-color;
}
strong, b, h2, h3, h4, h5 {
	font-family: $font-family-semibold;
	color: $brand-secondary;
	letter-spacing: 0.05em;
}
h1 {
	font-family: $font-family-bold;
	color: $brand-secondary;
	font-size: 24px;
	text-transform: none;
	line-height: 1.3em;
	letter-spacing: 0.09em;
	
	@media (min-width: 1200px) {
		font-size: 30px;
	}
}
h2 {
	font-size: 18px;
	font-family: $font-family-bold;
	text-transform: uppercase;
	color: $text-color2;
}
.tab-pane h2 {
	border-bottom: $text-color2 1px solid;
	padding-bottom: 1em;
}
.edit-link {
	display: block;
	text-align: right;
	margin-bottom: 0.5em;
	font-size: 12px;
}
a {
    color: $brand-primary;
    text-decoration: none;
}
p {
	margin: 0 0 1.5em;
}
img {
	max-width: 100%;
}
.alert-danger strong {
	color: #fff;
}
.font11 {
	font-size: 11px;
}
.font16 {
	font-size: 16px;
}
.fa-btn {
    margin-right: 5px;
}
.footnote {
	font-size: 12px;
	color: $text-color-light;
	text-align: center;
	
	&.text-left {
		text-align: left;
	}
	&.text-right {
		text-align: right;
	}
	&.pad {
		margin-top: 4em;
	}
}
.note {
	background: $bg-color-highlight;
	margin-top: -1px;
	padding: 15px;
	
	h4 {
		font-family: $font-family-bold;
		font-size: 18px;
		color: $brand-primary;
		margin: 0;
		padding: 0.5em 0;
	}
}
.tab-content {
	padding: 5px 15px;
}
body.with-navbar {
    padding-top: 60px;
    
    @media (min-width: 992px) {
    	padding-top: 110px;
    }
    &.home {
    	padding-top: 50px;
    	
    	@media (min-width: 992px) {
    		padding-top: 100px;
    	}
    }
    &.register-select_plan, &.register-preferences, &.register-delivery {
    	padding-top: 100px;
    	
    	@media (min-width: 992px) {
    		padding-top: 130px;
    	}
    }
}
#hero {
  	margin-bottom: 50px;
	overflow: hidden;
	width: 100%;
	height: 250px;
	position: relative;
	clear: both;
	background: url(/img/hero1.jpg) transparent no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/hero1.jpg',sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/hero1.jpg',sizingMethod='scale')";
	transform-origin: center top;
  transform: 
    translateZ(-1px)
    scale(2);
	
	h2 {
		font-family: $font-family-bold;
		color: $brand-secondary;
		font-size: 32px;
		text-transform: none;
		line-height: 1.3em;
		letter-spacing: 0.09em;
		
		@media (min-width: 1200px) {
			font-size: 52px;
		}

		.subtitle {
			font-size: 21px;
			color: $text-color;
			font-family: $font-family-sans-serif;
			line-height: 1.3em;
			letter-spacing: 0;
			
			@media (min-width: 1200px) {
				font-size: 26px;
			}
		}
	}
}

.wrap-center{
	margin: 0 auto;
	position: relative;
	max-width: 63.231em;
}

.hero-centered {
	text-align: center;
	position: absolute;
	display: block;
	max-width: 65.231em;
	height: inherit;
	overflow: hidden;
	margin-top: 140px;
}

#planType {
	position: fixed;
	width: 100%;
	top: 60px;
	padding: 10px 20px;
	border-color: $border-color;
	border-width: 0 0 1px 0;
	border-style: solid;
	background: $bg-color-status;
	text-align: center;
	z-index: 10;
	
	@media (min-width: 768px) {
		top: 100px;
		width: auto;
		min-width: 200px;
		left: 50%;
		margin-left: -100px;
		border-width: 0 1px 1px 1px;
	}
}
.sidelink {
	color: $edit-link-color;
	font-size: 11px;
	font-family: $font-family-sans-serif;
	text-transform: none;
	letter-spacing: 0;
	
	&:hover {
		color: $brand-primary;
	}
}
.tooltip-arrow, .sidelink + .tooltip.top > .tooltip-arrow,
.sidelink + .tooltip > .tooltip-inner, .tooltip.top .tooltip-inner, .tooltip.top .tooltip-arrow {
	background-color: $bg-color-status; 
	border-top-color: $bg-color-status; 
}
.sidelink + .tooltip > .tooltip-inner {
	color: $text-color;
	padding: 15px;
	text-align: left;
}

.total {
	font-family: $font-family-semibold;
}
.discount {
	color: $brand-secondary;
}
#spark-layout {
	background-color: #f5f5f5;
}

.text-success {
	color: $state-success-bg;
}

#quote {
	background: $brand-secondary;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-family: $font-family-semibold;
	padding: 2.5em 0;
	margin-top: 1.5em;
	line-height: 1.8em;
	
	.quote-name {
		font-size: 15px;
		text-transform: uppercase;
	}
}

#footer {
	background: #d8fafc;
	color: $brand-primary;
	text-transform: uppercase;
	font-size: 12px;
	font-family: $font-family-semibold;
	
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		line-height: 85px;
		display: inline-block;
	}
	.links {
		float: left;
		
		li {
			margin-right: 30px;
		}
		a {
			color: $brand-primary;
		}
		a:hover {
			color: $brand-secondary;
		}
	}
	.social {
		float: right;
		line-height: 85px;
		
		li {
			background: $brand-primary;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			line-height: 32px;
			margin: 0 5px;
			text-align: center;
			cursor: pointer;
			
			&:hover {
				background: $brand-secondary;
			}
		}
		.fa {
			font-size: 18px;
			color: #fff;
			line-height: 32px;
			
		}
	}
}

.plan-info {
	font-size: 16px;
	line-height: 1.2em;
	padding: 10px 5px;
	vertical-align: middle;
    display: inline-block;
    float: none;
    white-space: nowrap;
    min-height: 41px;
    
    &.field {
    	padding: 0 5px;
    }
    label.select {
    	margin-bottom: 0;
    }
}
.plan-info.text-left {
	font-family: $font-family-bold;
	color: $brand-primary;
}

#copyright {
	font-family: $font-family-semibold;
	text-transform: uppercase;
	font-size: 10px;
	color: $brand-primary;
	padding: 10px 0;
}