/**
 * Elements
 */

@import "elements/alerts";
@import "elements/buttons";
@import "elements/forms";
@import "elements/images";
@import "elements/modals";
@import "elements/nav";
@import "elements/panels";
@import "elements/tables";
@import "elements/tooltips";

/**
 * Components
 */

@import "components/splash";
@import "components/subscription";
@import "components/settings";
@import "components/terms";

/*
 * Misc. test
 */
body, html, #spark-app {
    height: 100%;
}
body {
	background: $bg-color;
	font-weight: $btn-font-weight;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	color: $text-color;
}
h1 {
	font-family: $font-family-bold;
	color: $brand-secondary;
	font-size: 24px;
	text-transform: none;
	line-height: 1.3em;
	letter-spacing: 0.09em;
	
	@media (min-width: 1200px) {
		font-size: 30px;
	}
	.subtitle {
		float: right;
		margin-top: -2.4em;
		font-family: $font-family-sans-serif;
		font-size: 16px;
		
		&.alt {
			color: $text-color;
			margin-top: 0.5em;
			letter-spacing: 0;
			line-height: 1.2em;
		}
	}
}
h2 {
	font-size: 18px;
	font-family: $font-family-bold;
	text-transform: uppercase;
	color: $text-color2;
}
.tab-pane h2 {
	border-bottom: $text-color2 1px solid;
	padding-bottom: 1em;
}
.schedule h2 {
	color: $brand-primary;
	font-size: 16px;
	text-transform: none;
	letter-spacing: 0.1em;
	margin-bottom: 1em;
	
	@media only screen and (min-width: 768px) {
		font-size: 21px;
	}
	@media only screen and (min-width: 992px) {
		font-size: 24px;
	}
	
	.subtitle {
		font-family: $font-family-semibold;
		font-size: 13px;
		color: $brand-secondary;
		margin-top: 15px;
		text-align: right;
		
		@media only screen and (min-width: 992px) {
			float: right;
			font-size: 15px;
			margin-top: 0;
		}

		a {
			color: $brand-secondary;
			
			&:hover {
				color: $brand-primary;
			}
		}
		.shipped {
			color: #3cad49;
			line-height: 1.2;
			
			.icon {
				vertical-align: middle;
				font-size: 28px;
			}
		}
		form {
			display: inline;
		}
		.btn {
			color: #fff;
			font-size: 16px;
			line-height: 1em;
			padding: 12px 12px 8px 12px;
			margin-left: 5px;
			margin-top: -0.2em;
		}
	}
}
.schedule {
	.week {
		position: relative;
		
		.btn-unskip {
			font-size: 16px;
			line-height: 1em;
			padding: 12px 12px 8px 12px;
		}
		.unskip-btn {
			margin: 0 15px 10px 0;
			text-align: right;
			
			@media only screen and (min-width: 992px) {
				position: absolute;
				margin: 0;
				top: -4px;
				right: 0;
			}
		}
		.plan_size {
			font-size: 12px;
			color: $text-color;
			font-family: $font-family-sans-serif;
			letter-spacing: 0;
			
			@media only screen and (min-width: 992px) {
				display: inline-block;
	    		margin: 0;
			}
		}
	}
	&.active {
		.plan_size {
			display: block;
	    	margin: 1.5em 0;
			
			@media only screen and (min-width: 992px) {
				display: inline-block;
	    		margin: 0;
			}
		}
	}
}
#delivery_history h4 {
	
	.subtitle {
		font-family: $font-family-semibold;
		font-size: 13px;
		color: $text-color;
		margin-top: 15px;
		text-align: right;
		letter-spacing: 0;
		
		@media only screen and (min-width: 992px) {
			float: right;
			font-size: 15px;
			margin-top: 2px;
		}
		.promo_note {
			color: $brand-secondary;
			font-style: italic;
		}
		a {
			color: $brand-secondary;
			
			&:hover {
				color: $brand-primary;
			}
		}
	}
}
h3, h4, h5 {
	font-family: $font-family-semibold;
	color: $brand-primary;
	letter-spacing: 0.05em;
	
	.red {
		color: $brand-secondary;
	}
}
.buckets {
	
	margin: 2em 0 0 0;
	
	h5 {
		color: $brand-secondary;
	}
	.div {
		background: $brand-primary;
		height: 3px;
		width: 40px;
		margin: 0 auto 10px auto;
	}
}

.edit-link {
	float: right;
	margin-bottom: 0.5em;
	font-size: 12px;
}
strong, b {
	font-family: $font-family-semibold;
}
a {
    color: $brand-primary;
    text-decoration: none;
}
p {
	margin: 0 0 1.5em;
}
img {
	max-width: 100%;
}
.alert-danger strong {
	color: #fff;
}
body.account {
	font-size: 16px;
	
	h2 {
		margin-bottom: 1.5em;
		letter-spacing: 0.05em;
		
		.edit-link {
			text-transform: none;
			font-family: $font-family-semibold;
		}
	}
	h4 {
		color: $text-color;
		font-family: $font-family-bold;
		
		&.thin {
			font-family: $font-family-semibold;
			letter-spacing: 0;
		}
	}
	h6 {
		font-family: $font-family-semibold;
		color: $text-color2;
		text-transform: uppercase;
		font-size: 16px;
		
		&.alt {
			color: $brand-secondary;
		}
	}
	.sidebar {
		
		@media (min-width: 992px) {
			padding-right: 5%;
		}
	}
}
.referrals {
	font-size: 14px;
	
	 .row {
	 	line-height: 1.8em;
	 }
}
.referrals_status {
	
	margin: 0 0 40px 0;
	 
	.item {
		text-align: center;
		padding-right: 10px !important;
		
		&.last {
			padding-right: 0 !important;
		}
		span {
		    display: inline-block;
		    width: 100%;
		    min-height: 85px;
		    padding: 20px 0;
		    position: relative;
		    border-bottom: #CCC 6px solid;
			
			.icon {
				font-size: 50px;
				color: #ccc;
				position: absolute;
			    margin-left: -35px;
			    line-height: 1;
			    z-index: 1; 
			}
			p {
				color: #fff;
				font-size: 14px;
				position: relative;
				z-index: 5;
				margin: 0;
    			line-height: 1;
    			margin-top: 24px;
			}
			// &:before {
			// 	content: '\e803';
			//     font-family: 'fontello';
			//     position:absolute;
			// }
		}
		&.on {
			
			span {
				border-color: $brand-secondary; 

				.icon {
					color: $brand-secondary;
				}
			}
		}
	}
	
}
.font11 {
	font-size: 11px;
}
.font16 {
	font-size: 16px;
}
.fa-btn {
    margin-right: 5px;
}
.footnote {
	font-size: 12px;
	color: $text-color-light;
	text-align: center;
	
	&.text-left {
		text-align: left;
	}
	&.text-right {
		text-align: right;
	}
	&.pad {
		margin-top: 4em;
	}
}
.caption {
	margin: 1em 0;
	text-align: center;
	line-height: 1.2em;
	@media only screen and (max-width: 549px) {
		font-size: 0.8em;
	}
}
body.account .caption {
	font-size: 0.8em;
}
.modal-title .delivery_date {
	text-transform: uppercase;
}
.note {
	background: $bg-color-highlight;
	margin-top: -1px;
	padding: 15px;
	
	h4 {
		font-family: $font-family-bold;
		font-size: 18px;
		color: $brand-primary;
		margin: 0;
		padding: 0.5em 0;
	}
}
.tab-content {
	padding: 5px 15px;
}
#submitErrors {
	padding: 1em 0;
	color: $brand-secondary;
	display: none;
}
@media (min-width: 768px) {
	.with-disclaimer {
		display: inline-block;
	}
}
body.with-navbar {
    padding-top: 60px;
    
    @media (min-width: 992px) {
    	padding-top: 110px;
    }
    &.home {
    	padding-top: 50px;
    	
    	@media (min-width: 992px) {
    		padding-top: 100px;
    	}
    }
    &.register-select_plan, &.register-preferences {
    	padding-top: 100px;
    	
    	@media (min-width: 992px) {
    		padding-top: 130px;
    	}
    }
}
#hero {
  	// margin-bottom: 50px;
	overflow: hidden;
	width:100%;
    height:100vh;
    overflow:hidden;
	position: relative;
	clear: both;

	.bg {
		background: url(/img/hero1.jpg) transparent no-repeat;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/hero1.jpg',sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/hero1.jpg',sizingMethod='scale')";
	    background-position: center center;
	    //background-attachment: fixed;
	    background-size: cover;
		// transform-origin: center top;
	 //  	transform: translateZ(-1px);
	 	position: absolute;
    	width: 100%;
    	height: 100%;
    	z-index: 1;
	}
	#hero-text {
		padding-top: 120px;
	    z-index: 2;
	    position: relative;
	    text-align: center;
	    width: 75%;

		@media only screen and (min-width: 768px) {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    -webkit-transform: translate(-50%, -120%);
		    -ms-transform: translate(-50%, -120%);
		    transform: translate(-50%, -120%);
		    margin: 0;
		    padding: 0;
		}
		h2 {
			font-family: $font-family-bold;
			color: $brand-secondary;
			font-size: 32px;
			text-transform: none;
			line-height: 1.3em;
			letter-spacing: 0.09em;
		
	    	@media (min-width: 1200px) {
				font-size: 52px;
			}

			.subtitle {
				font-size: 21px;
				color: $text-color;
				font-family: $font-family-sans-serif;
				line-height: 1.3em;
				letter-spacing: 0;
				
				@media (min-width: 1200px) {
					font-size: 26px;
				}
			}
	    }
	}
}

// .wrap-center {
//     display:table;
//     width:100%;
//     height:100%;
//     overflow:hidden;
// }
// .hero-centered {
// 	display:table-cell;
//     position:relative;
// 	vertical-align:middle;
// 	text-align:center;
// 	padding: 0 20%;
// }

// .wrap-center{
// 	margin: 0 auto;
// 	position: relative;
// 	max-width: 63.231em;
// }

// .hero-centered {
// 	text-align: center;
// 	position: absolute;
// 	display: block;
// 	max-width: 65.231em;
// 	height: inherit;
// 	overflow: hidden;
// 	margin-top: 140px;
// }

#planType {
	position: fixed;
	width: 100%;
	top: 60px;
	padding: 10px 20px;
	border-color: $border-color;
	border-width: 0 0 1px 0;
	border-style: solid;
	background: $bg-color-status;
	text-align: center;
	z-index: 10;
	
	@media (min-width: 768px) {
		top: 61px;
		width: auto;
		min-width: 200px;
		left: 50%;
		margin-left: -100px;
		border-width: 0 1px 1px 1px;
	}
	@media (min-width: 992px) {
		top: 100px;
	}
}
.sidelink {
	color: $edit-link-color;
	font-size: 11px;
	font-family: $font-family-sans-serif;
	text-transform: none;
	letter-spacing: 0;
	
	&:hover {
		color: $brand-primary;
	}
	&.alt {
		color: $brand-primary;
	}
}
span.sidelink:hover {
	color: $edit-link-color;
}
h1 .sidelink {
	color: $brand-primary;
	font-size: 13px;
	
	&:hover {
		color: $brand-secondary;
	}
}
.total {
	font-family: $font-family-semibold;
}
.discount {
	color: $brand-secondary;
}
#spark-layout {
	background-color: #f5f5f5;
}

.text-success {
	color: $state-success-bg;
}

.fa-times-circle {
	color: $brand-secondary;
}
.fa-check-circle {
	color: #3cad49;
}

#quote {
	background: $brand-secondary;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-family: $font-family-semibold;
	padding: 2.5em 0;
	margin-top: 1.5em;
	line-height: 1.8em;
	
	.quote-name {
		font-size: 15px;
		text-transform: uppercase;
	}
}

#footer {
	background: #d8fafc;
	color: $brand-primary;
	text-transform: uppercase;
	font-size: 12px;
	font-family: $font-family-semibold;
	
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	
		@media (min-width: 768px) {
			line-height: 85px;
			display: inline-block;
		}
	}
	
	.links {
		a {
			color: $brand-primary;
		}
		a:hover {
			color: $brand-secondary;
		}

		@media (min-width: 768px) {

			float: left;
		
			li {
				margin-right: 30px;
			}
		}
		
	}
	.social {
		float: right;
		line-height: 85px;
		
		li {
			background: $brand-primary;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			line-height: 32px;
			margin: 0 5px;
			text-align: center;
			cursor: pointer;
			
			&:hover {
				background: $brand-secondary;
				@include transition(all 0.5s ease);
				@include scale(1.2);
			}
		}
		.fa {
			font-size: 18px;
			color: #fff;
			line-height: 32px;
			
		}
	}
}

.plan-info {
	font-size: 16px;
	line-height: 1.2em;
	padding: 10px 5px;
	vertical-align: middle;
    display: inline-block;
    float: none;
    white-space: nowrap;
    min-height: 41px;
    
    &.field {
    	padding: 0 5px;
    }
    label.select {
    	margin-bottom: 0;
    }
}
.plan-info.text-left {
	font-family: $font-family-bold;
	color: $brand-primary;
}
.not_avail {
	background: $brand-secondary;
	padding: 5px 10px;
	color: #fff;
	margin-left: 2px;
	font-family: $font-family-semibold;
	position: absolute;
	width: 90%;
	text-align: center;
	-webkit-transform: rotate(-28deg) translate(-15%, 150%);
	-moz-transform: rotate(-28deg) translate(-15%, 150%);
	-ms-transform: rotate(-28deg) translate(-15%, 150%);
	-o-transform: rotate(-28deg) translate(-15%, 150%);
	transform: rotate(-28deg) translate(-15%, 150%);
}
.icon-info-circled {
	font-size: 16px;  
}
.color-sec {
	color: $brand-secondary;
}
.color-prim {
	color: $brand-primary;
}
#changeMenu .meal {
	
	min-height: 210px;
	
	&.avail {
		cursor: pointer;
	}
	&.selected img {
		outline: 5px solid $brand-primary;
	}
}

#copyright {
	font-family: $font-family-semibold;
	text-transform: uppercase;
	font-size: 10px;
	color: $brand-primary;
	padding: 10px 0;
}