@font-face {
    font-family: 'proxima_novasemibold';
    src: url('/font/proximanova-sbold-webfont.woff2') format('woff2'),
         url('/font/proximanova-sbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('/font/proximanova-reg-webfont.woff2') format('woff2'),
         url('/font/proximanova-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('/font/proximanova-extrabold-webfont.eot');
    src: url('/font/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/proximanova-extrabold-webfont.woff') format('woff'),
         url('/font/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('/font/proximanova-extrabold-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * Variables...
 */
$bg-color: #f9ffff;
$bg-color-note: #e8f9fa;
$bg-color-status: #eefeff;
$brand-primary: #1db8bf;
$brand-secondary: #e91e25;
$brand-success: #adce42;
$brand-danger: #e91e25; /* #fe7f65 */

$state-success-text: #ffffff;
$state-success-bg: #adce42;
$state-success-border: #adce42;

$state-info-text: #ffffff;
$state-info-bg: #5291cb;
$state-info-border: #5291cb;

$state-danger-text: #ffffff;
$state-danger-bg: #e91e25; /* #fe7f65 */
$state-danger-border: #e91e25; /* #fe7f65 */

$text-color: #404040;
$text-color-light: #a8a8a8;
$link-hover-color: #e91e25;
$edit-link-color: #e82128;
$link-hover-decoration: none;

$border-color: #c2eef1;

$font-family-sans-serif: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
$font-family-semibold: "proxima_novasemibold", Helvetica, Arial, sans-serif;
$font-family-bold: "proxima_novaextrabold", Helvetica, Arial, sans-serif;
$font-size-base: 14px;

$btn-font-weight: 300;

$navbar-height: 60px;
$navbar-desktop-height: 99px;


$panel-default-heading-bg: #ffffff;
$panel-default-text: #969696;
